/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* variables */
:root {
    --LargeSpacing: 3rem;
    --smallSpacing: 1rem;
    --borderRadius: 4rem;
    --boxShadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.20);
    --gradientBackground: linear-gradient(365deg, #F9ECC9 29.21%, #D0DCAE 88.13%);
    --LightOrange: #FA8637;
    --DarkOrange: #C66828;
    --PrimaryLightGreen: #A9B489;
    --lightGreen: #D0DCAE;
    --PrimaryDarkGreen: #5E7153;
    --DarkBeige: #F9ECC9;
    --LightBeige: #FFF8E6; 
    --black: #1F1E1E;
    --white: #FFFBF8;
}

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    background: var(--gradientBackground);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
    line-height: 150%;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
}

p { 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* forside start */
main {
    max-width: 1440px;
    margin: 0 auto;
}

#heroTitle {
    font-size: 5.5rem;
    width: 55rem;
}

.heroText {
    font-size: 1.5rem;
    width: 37ch;
    line-height: 150%;
    text-wrap: wrap;
}

.heroTextContainer {
    white-space: nowrap;
}

.heroImgContainer{
    width: 625px;
    height: 450px;
    transform: rotate(-6deg);
    position: relative;
    top: 120px;
    right: 170px;
}

.heroImgContainer img {
    position: absolute;
    top: -100px;
    left: 35px;
    padding-top: var(--LargeSpacing);
}

.heroSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button styling */
.heroBtnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.buttonOneOrange {
    background: var(--LightOrange);
    border: 4px solid #FA8637;
    border-radius: var(--borderRadius);
    padding: .7rem 3rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    transition: .3s ease-in-out;
}

.buttonOneOrange a {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

.buttonOneOrange:hover {
    border: 4px solid #FA8637;
    background: #fa853700;
    color: var(--LightOrange);
}


/* forside slut */