/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* variables */
:root {
    --LargeSpacing: 3rem;
    --smallSpacing: 1rem;
    --borderRadius: 4rem;
    --boxShadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.20);
    --gradientBackground: linear-gradient(365deg, #F9ECC9 29.21%, #D0DCAE 88.13%);
    --LightOrange: #FA8637;
    --DarkOrange: #C66828;
    --PrimaryLightGreen: #A9B489;
    --lightGreen: #D0DCAE;
    --PrimaryDarkGreen: #5E7153;
    --DarkBeige: #F9ECC9;
    --LightBeige: #FFF8E6; 
    --black: #1F1E1E;
    --white: #FFFBF8;
}

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    background: var(--gradientBackground);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
    line-height: 150%;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--black);
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);
}

h3 {
    font-family: "Anton", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    
}

p { 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* forside start */
main {
    max-width: 1340px;
    margin: 0 auto;
}

#heroTitle {
    font-size: 5.5rem;
    width: 55rem;
}

.heroText {
    font-size: 1.5rem;
    width: 37ch;
    line-height: 150%;
    text-wrap: wrap;
}

.heroTextContainer {
    white-space: nowrap;
}

.heroImgContainer{
    min-width: 545px;
    min-height: 450px;
    transform: rotate(-6deg);
    position: relative;
    top: 130px;
    right: 100px;
}

.heroImgContainer img {
    position: absolute;
    top: -120px;
    left: 35px;
    padding-top: var(--LargeSpacing);
}

.heroSectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* button styling */
.heroBtnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.buttonOneOrange {
    background: var(--LightOrange);
    border: 4px solid #FA8637;
    border-radius: var(--borderRadius);
    padding: .7rem 3rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    transition: .3s ease-in-out;
}

.buttonOneOrange a {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

.buttonOneOrange:hover {
    border: 4px solid #FA8637;
    background: #fa853700;
    color: var(--LightOrange);
}

/* værdier sektion */
.valuesContainer {
    padding: 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="355" height="368" viewBox="0 0 355 368" fill="none"><path d="M347.695 164.606C381.195 274.606 292 376.606 95.1955 366.606C-17.7483 366.606 1.19527 229.104 1.19527 164.606C1.19527 100.109 71.6953 37.6944 216.695 8.60625C381.195 -24.3937 293.195 39.6063 347.695 164.606Z" fill="%235E7153"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
    padding: var(--LargeSpacing);
}

.value1 img {
    min-width: 75px;
    margin-top: var(--LargeSpacing);
}

.valueTitle h3{
    margin: 1rem 0
}

.valueTextContainer {
    color: var(--white);
    text-align: center;
    max-width: 30ch;
}

.value2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns="http://www.w3.org/2000/svg"%20width="356"%20height="367"%20viewBox="0%200%20356%20367"%20fill="none"%3E%3Cpath%20d="M7.72853%20202.311C-25.7715%2092.3107%2052%20-5.89379%20260.228%200.310691C373.172%200.310701%20354.229%20137.813%20354.229%20202.311C354.229%20266.808%20283.729%20329.223%20138.729%20358.311C-25.7715%20391.311%2062.2285%20327.311%207.72853%20202.311Z"%20fill="%235E7153"%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
    padding: var(--LargeSpacing);
}

.value2 img {
    min-width: 75px;
    margin-top: var(--LargeSpacing);
}

.value3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns="http://www.w3.org/2000/svg"%20width="356"%20height="375"%20viewBox="0%200%20356%20375"%20fill="none"%3E%3Cpath%20d="M348.39%20165.213C381.89%20275.213%20293.499%20407.106%2095.8902%20367.213C-20.0005%20343.816%201.88993%20229.71%201.88993%20165.213C1.88993%20100.715%2072.39%2038.3007%20217.39%209.21251C381.89%20-23.7875%20293.89%2040.2125%20348.39%20165.213Z"%20fill="%235E7153"%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
    padding: var(--LargeSpacing);
}

.value3 img {
    min-width: 75px;
    margin-top: var(--LargeSpacing);
}
/* værdier sektion slut */

/* vores team sektion start */
.TeamMemberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 15rem;
}

.titleBold {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: var(--smallSpacing);
}

.navn {
    font-size: 24px;
}

.teamPic img {
    border-radius: 200px;
    max-height: 10em;
    margin-bottom: var(--smallSpacing);
}

.voresTeamContainerTop {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap: 8rem;
    margin-bottom: var(--LargeSpacing);
}

.voresTeamContainerBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--smallSpacing);
    margin-bottom: 5rem;
}

.voresTeamTitle {
    text-align: center;
    margin-bottom: var(--LargeSpacing);
}

.slideinAnim {
    opacity: 0; 
    transition: opacity .5s ease-in-out, transform .5s ease-in-out; 
    transform: translateY(100%); 
}
  
  .animationVisible {
    opacity: 1; 
    transform: translateY(0); 
  }
/* vores team sektion slut */

/* background shapes */
.backgroundShapes1 {
    background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%22578%22 height%3D%22378%22 viewBox%3D%220 0 578 378%22 fill%3D%22none%22%3E%3Cpath d%3D%22M571.776 86.5327C615.325 204.077 420.478 127.577 276.324 180.985C132.171 234.393 -23.0958 461.248 -66.6453 343.704C-110.195 226.16 -96.521 95.8389 47.6325 42.4307C191.786 -10.9774 528.226 -31.0114 571.776 86.5327Z%22 fill%3D%22%23D0DCAE%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 115%;
    left: 0;
    width: 40%;
    height: 50%;
    z-index: -1;
}

.backgroundShapes2 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22585%22%20height%3D%22353%22%20viewBox%3D%220%200%20585%20353%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M683.355%20306.576C661.772%20430.056%20531.977%20265.827%20380.544%20239.358C229.111%20212.888%20-19.2853%20330.659%202.29834%20207.179C23.8819%2083.6989%20101.336%20-21.9965%20252.769%204.47318C404.202%2030.9428%20704.939%20183.096%20683.355%20306.576Z%22%20fill%3D%22%23D0DCAE%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 135%;
    right: 0;
    width: 38%;
    height: 30%;
    z-index: -1;
}
/* background shapes slut */

/* focused entry points forside */
.fep1Indhold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--LargeSpacing);
}

.fep1Indhold img {
    border-radius: 10px;
    width: 42vw;
}

.fep1Indhold svg {
    margin-right: .5rem;
}

.bulletPointsFep {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem; 
}

.bulletPointsFep li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 700;
    margin-right: var(--LargeSpacing);
}
/* focused entry points forside slut */

/* navigation */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--lightGreen);
}

.logo a {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    transition: .3s ease-in-out;
}

.logo a:hover {
    color: var(--LightOrange);
    font-size: 2.1rem;
}

.navContainer {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--smallSpacing);
    padding: 2rem 0;
}

.navList ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navList li, a {
    list-style-type: none;
    color: var(--black);
    font-weight: 700;
    padding-bottom: .2rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: .3s ease-in-out;
}

.navList a:hover {
    color: var(--LightOrange);
    border-bottom: 3px solid #FA8637;
}

.navList svg {
    height: 40px;
    transition: .3s ease-in-out;
    padding-bottom: .2rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navList svg:hover {
    border-bottom: 3px solid #FA8637;
}
/* forside slut */

/* personlige oplysninger start */
.formContainer {
    width: 35vw;
    padding: var(--LargeSpacing);
  }
  
.formGroup {
    margin-bottom: var(--smallSpacing);
  }
  
label {
    font-weight: bold;
    margin-bottom: .2rem;
  }
  
.inputContainer {
    display: flex;
    align-items: center;
    background-color: var(--LightBeige);
    padding: .3rem;
    border-radius: 5px;
  }
  
input {
    display: flex;
    flex: 1;
    border: none;
    background-color: var(--LightBeige);
    font-size: 1rem;
    color: rgb(136, 134, 134);
    padding: 5px;
  }
  
.editIcon {
    font-size: 1.2rem;
    margin-right: .3rem;
  }

.profilePic{
    position: relative;
    right: 80px;
    margin-top: 5rem;
}

.profilePic img {
    position: absolute;
    top: -80px;
    left: 20px;
    padding-top: var(--LargeSpacing);
}

.oplysningerSection {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: var(--DarkBeige);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    width: 73%;
    height: fit-content;
}

.buttonChange {
    transform: translate(30px, -20px);
}

.sletProfil {
    font-size: 14px;
    text-decoration: underline;
    transform: translate(95px, -10px);
}

/* lokal nav start */
.oplysningerContentContainer {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: var(--LargeSpacing);
}
.lokalNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background: var(--DarkBeige);
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 9;
  }
  
.lokalNavUL {
    list-style: none;
  }
  
.lokalNavUL li {
    margin-bottom: var(--smallSpacing);
    padding: .5rem 2.5rem;
    border: none;
    background: var(--LightBeige);
    color: var(--LightOrange);
    transition: .3s ease-in-out;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0);
    font-weight: 700;
}

.lokalNavUL a {
    color: var(--LightOrange);
}

.lokalNavUL li:hover{
    border: 3px solid var(--LightOrange);
    background: var(--DarkBeige);
    box-shadow: var(--boxShadow);
}
  
#personalInfoButton {
    background: var(--LightOrange);
    color: white;
    border: none;
    transition: .2s ease-in-out;
  }
  
  
  /* lokal nav slut */

/* personline oplysninger slut */